.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%; */
  height: 75px;
  background-color: #93b636;
  padding: 5px;
  z-index: 1000;
}
.navigationList {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigationLink {
  transition: 0.3s;
  padding: 10px;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
.navigationLink:hover {
  opacity: 0.5;
}
.hidden {
  display: none;
}
