.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 75px;
  background-color: #93b636;
  padding: 5px;
}
.navigationList {
  display: flex;
  gap: 20px;
}
.navigationLink {
  padding: 10px;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
